<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %} <!-- all POST forms that are targeted at internal URLs should use this -->
{% for choice in question.choice_set.all %}
<!--the value of each radio is associated question choice's ID-->
<!-- when somebody selects one of the radio buttons ansd submits the form, it will send the POST data choice where # is the ID of the selected choice-->
<!--forloop.counter: indicates how many times the for tag has gone through its loop-->
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>